body {
	font-family: 'Quicksand', sans-serif;
	height:100%;
}

h1, h2, h3, h4, h5,.btn {
	font-family: 'Lora', serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-stretch: expanded;
	font
}

h1 {
	font-size: 22pt;
	text-align: center;
}

.pageHeading {
	margin: 60px 0 60px 0;
}

.headingContainer {
	overflow: hidden;
	max-height: 75vh;
}

.btnNav {
	display: inline-block;
}

.btnNavContainer{
	text-align: right;
}

.btnContainer {
	display: inline-block;
}


/* Navbar [Nathan] */
.navbar{
	background-color: white;
}

.nav-spacing{
	padding: 0 2vw;
}

.nav-profileImg{
	width: 50px;
	border-radius: 50%;
}

.bgImgContainer {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}


.bgImg {
	overflow: hidden;
	margin-left: -50%;
}

.bannerImg{
	background-image: url("../images/bannerImg.jpg");
  min-height: 500px;
  /* background-attachment: fixed; */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
	width: 96%;
	margin: 0 2%;
}

.cardContainer{
	margin-top: 20px;

	display: flex;
	justify-content: space-around;
}

.card-title {
	text-align: center;
}

.card-text {
	text-align: center;
}

.btn {
	font-size: 12px;
}

.secondaryCardBtn {
	line-height: 18px;
	font-weight: lighter;
}

.secondaryCardDiv {
	text-align: center;
}

.card{ /* ALexis and Nathan */
	border: 0px;
	padding: 0.4vw;
	margin: 1vw;
	/* background-color: rgba(0,0,0,0.1); */
	width: 30%;
	flex-basis: 30%;
}

.card:hover{ /* Nathan */
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
	color: #4B5940;
}

.cardBtn /* Alexis and Nathan */ {
	display: block;
	margin: auto;
	padding: 3% 10%;
	color: #ffffff;
	background-color: #4B5940;
}

.cardBtn:hover, .commentBtn:hover{ /* Nathan */
	background-color: #A2A63C;
	color: black;
}

.image-div {
	position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.card-thumbnail {
	position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.addProductBtn {
	color: #ffffff;
	background-color: #4B5940;
}

.btnDropdown {
	margin-top: -30px;
}

.productModalHeader {
	padding: 10px 10px 0 10px;
	border: 0px;
}

.productModalBody {
	padding: 0 10px 10px 10px;
}

.userContainer {
	position: absolute;
	z-index: 0;
	width: 80%;
	margin: 0px 10% 20px 10%;
}

#userImgDiv {
	display: inline;
}

#userimg{
	cursor: pointer;
}

.userImg {
	border-radius: 50%;
	border: 0.7vw solid #ffffff;
	height: 22vw;
	width: 22vw;
	margin: 50px 36% 0 36%;
}

.editBtn {
	position: absolute;
	top: 14vw;
	right: 0;
	padding: 5px 40px;
	color: #4B5940;
	background-color: #ffffff;
}

.userInfoContainer {
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: -9vw;
	padding: 10vw 20px 20px 20px;
}

.userInfoLabel {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1rem;
	line-height: 25px;
	color: #666666;
	margin-bottom: 20px;
}

.userInfoInput {
	display: inline-block;
	font-size: 1rem;
	line-height: 25px;
	color: #666666;
	margin-bottom: 20px;
}

.previousListings-h1{
	margin-top: 50px;
}

.userProducts{ /* Nathan */
	width: 80%;
	margin: 0 10%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


/* Product Listing Modal [Nathan]*/

.modal-lg{
	max-width: 75%;
}

.modal-content{
	padding: 6%;
}

.modal-body{
	border-bottom: 0px;
	padding-bottom: 0px;
}

.modal-header{
	border-bottom: 0px;
	padding-bottom: 10px;
}

.modal-profileImg{
	width: 50px;
	border-radius: 50%;
	display: inline;
	margin-right: 10px;
}

.modal-username{
	display: inline;
}

.modal-body {
	padding-top: 0px;
}

.userInfoModalBody {
	padding: 0 10% 0 10%;
}

.modal-footer{
	border-top: 0px;
	padding: 10px 0 25px 0;
}

.modal-bottom{
	margin-top: 20px;
}

.modal-description{
	margin-bottom: 40px;
}

.carousel{
	padding: 100px;
}

.w-100{
	width: unset !important;
	height: 60vh;
	margin: auto;
}

.carousel-control-next-icon {
  background-image: url("../images/right.svg");
	width: 50px;
	height: 50px;
}

.carousel-control-prev-icon {
  background-image: url("../images/left.svg");
	width: 50px;
	height: 50px;
}

.carousel-indicators li {
	background-color: #333;
	border-radius: 25%;
}


.comment, .addComment{
	width: 100%;
	padding: 5px;
	display: flex;
	position: relative;
	margin: 25px 0;
}

.commentPic{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.commentText{
	margin-left: 20px;
	padding: 10px;
	width: 100%;
	border: 2px solid  #818C5A;
	border-radius: 20px;
}

.commentSellerText{
	margin-right: 20px;
	padding: 10px;
	width: 100%;
	border: 2px solid  #818C5A;
	border-radius: 20px;
}

.commentUserText{
	margin-left: 20px;
	padding: 10px;
	width: 100%;
	background-color: #818C5A;
	color: white;
	border-radius: 20px;
}

.commentBtn{
	position: absolute;
	font-size: 0.9rem;
	font-family: 'Lora', serif;
	right: 0;
	bottom: 0;
	background-color: #4B5940;
	color: white;
	border-radius: 10px;
	border: none;
}

.commentUsername{
	position: absolute;
	left: 90px;
	bottom: -17px;
}

.commentSellerUsername{
	position: absolute;
	right: 90px;
	bottom: -17px;
}
/* end Product Listing Modal [Nathan] */



form {
	margin-top: 25px;
}

.form-control {
	margin-bottom: 20px;
}

.userInfoLabel {
	text-transform: uppercase;
}


.headingLineDiv{
	position: relative;
}

.headingLine{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	border: 1.5px solid black;
	z-index: -1;
}

.mark, mark {
    padding: .2em 1em;
    background-color: white;
}
